.coming-soon-section {
  height: 50rem;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coming-soon-text {
  font-size: 1.2rem;
  text-align: center;
}