
/* ---------- BUTTONS ---------- */
.btn{
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid white;
  font-family: "Nunito";
  border-radius: var(--round);

}

.btnBlue{
  background-color: var(--blue);
  color: var(--blueDark);

}

.btnBlue:hover{
  background-color: var(--blueLight);
}

.btnBlue:active{
  background-color: var(--blue);
  /* font-weight: 900; */
  transform: translateY(3px);
}

.btnPurple{
  background-color: var(--purple);
  color: var(--purpleDark);

}

.btnPurple:hover{
  background-color: var(--purpleLight);
}

.btnPurple:active{
  background-color: var(--purple);
  font-weight: bolder;
  transform: translateY(3px);
}

.btnGreen{
  background-color: var(--green);
  color: var(--greenDark);
}

.btnGreen:hover{
  background-color: var(--greenLight);
}

.btnGreen:active{
  background-color: var(--green);
  font-weight: bolder;
  transform: translateY(3px);
}


.btnSquare{
  padding: 1rem 3rem;
  border-radius: var(--radius-box);
  text-align: center;
  width: clamp(150px, 75%, 200px);
  color: var(--FontColor, #1C1D25);
  font-family: Nunito;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}


/* ---------- BUTTONS STOP ---------- */
