.articleImg{
  height: auto;
  width:100%;
  border-radius: 30px;


}

/* a{

} */



a p{
  height: 13rem
}


a img{
  width: 7rem;
  height: auto;

}

a svg{
  padding: 2rem;
  height: 3rem;
  width: 8rem;

    /* border: 2px solid red; */
}

.red{
  border: 2px solid red;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
a img{
  border-radius: var(--radius-box);
  aspect-ratio: 1 / 1;
  width: 10rem;
  margin: 1rem;
  object-fit: cover;
  /* object-position: center; */
  display: block;
  border: 2px solid red
}

a h2{
  padding-left: 6rem;
  /* padding-top: 1rem; */
}


}

/* ............ Desktops ................*/
/* @media (min-width: 1025px) {


} */