.articleImg{
  height: auto;
  width:100%;
  border-radius: 30px;
}

.ancortag {
  flex-direction: column;
  padding: 0px;
  

}

.icon-tabler-arrow-left{
  height:40px
}

.headingA{
  padding-left: 1rem;
  margin-bottom: 0rem;
}

a p{
  /* height: 13rem; */
  display:none
}


a img{
  width: 7rem;
  height: auto;
  display:none

}

a svg{
  padding: 1rem;
  height: 3rem;
  width: 8rem;

    /* border: 2px solid red; */
}


/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
a img{
  border-radius: var(--radius-box);
  aspect-ratio: 1 / 1;
  width: 10rem;
  margin: 1rem;
  /* object-fit: cover; */
  object-position: center;
  display: block;
}

.headingA{
  margin-left: 6.5rem;
  /* padding-top: 1rem; */
}

a p{
  display: block;
  
}


}

/* ............ Desktops ................*/
/* @media (min-width: 1025px) {


} */