.ancortag {
  flex-direction: column;
  padding: 0px;
}

.icon-tabler-arrow-left {
  height: 40px
}

.headingA {
  padding-left: 1rem;
  margin-bottom: 0rem;
}

main a p {
  display: none
}


main a img {
  width: 7rem;
  height: auto;
  display: none
}

main a svg {
  padding: 1rem;
  height: 3rem;
  width: 8rem;

}

#exhibitions-heading {
  margin-top: 4rem;
}

.medicineImg {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;

}

.medicineImg img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 83%
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  main a img {
    border-radius: var(--radius-box);
    aspect-ratio: 1 / 1;
    width: 10rem;
    margin: 1rem;

    object-position: center;
    display: block;
  }

  .headingA {
    margin-left: 6.5rem;

  }

  main a p {
    display: block;

  }

  #exhibitions-heading {
    margin-top: 6rem;
  }

  .medicineImg {
    height: 700px;

  }

}