dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  color: var(--fontColor);
  font-family: var(--header-font);
}
ul {
  margin:0;
  padding:0;
  line-height: 3rem;
  font-family: var(--header-font);
}
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  flex: wrap;
}

.social-media-container img {
width: 24px;
height:24px;
color: var(--fontColor);
}

.social-media-container {
  justify-self: center;
  justify-items: center;
  justify-content: space-around;

}
.copyright-container {
  justify-items: center;
}
.footer-headings {
  font-family: var(--header-font);
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 600;
}
 /* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
  .footer-logo-container img {
    max-width: 15rem;
  }
  .social-media-container,
  .copyright-container {
    flex-basis: 100%;
  }

}