.get-involved-with-us img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 3rem
}


.get-involved-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  overflow: hidden;
}

.get-involved-box-contact {
  border-radius: var(--radius-box);
  padding: 1rem;
  margin-bottom: 4rem;
}

.get-involved-img-container {
  border-radius: var(--radius-box);
  padding: 1rem
}

.get-involved-img-container img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  overflow: hidden;

}

.get-involved-box {
  border-radius: var(--radius-box);

  margin-bottom: 2rem;
}

.text-box {
  padding: 1rem;
}

.line-break {
  display: block;
  margin-top: 1rem;
}

.get-involved-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

/* .............. Desktop ............ */
@media (min-width: 1025px) {
  .get-involved-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
  }

  .text-box {
    padding: 2rem;
  }

  .get-involved-box-contact {
    padding-inline: 3rem;


    grid-column: span 3;
    grid-row: span 1;

  }

  .get-involved-with-us img {
    width: 100%;
    height: 600px;
  }
}

