body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', 'Verdana';
}

main{
  padding-inline: clamp(1rem, 12vw, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radius{
  border-radius: 20px;
}

.last{
  margin-bottom: var(--gap5);
}

.flex-row{
  display: flex;
  flex-direction: row;;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
}


.purple{
  background-color: var(--purple);
}
.blue{
  background-color: var(--blue);
}

.green{
  background-color: var(--green);
}

a{
  text-decoration: none;
  color: var(--FontColor);
}


h1{
 
  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  color: var(--FontColor, #1C1D25);
}

h2{
  color: var(--FontColor, #1C1D25);
 font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

p{
  color: var(--FontColor, #1C1D25);
  font-family: 'Nunito Sans';
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%; /* 40px */
}

li {
  list-style: none;
}

/* .nav-linkMob{} */

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
  h1{
  font-family: Nunito;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  }

  h2{
    font-family: Nunito;
    font-size: 2rem; /* endret */
    font-weight: 700;
    line-height: normal;
  }

  p{
    font-family: "Nunito Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 200%; /* 40px */
  }

  .last{
    margin-bottom: 10rem;
  }
  /* main{

  }*/
} 

/* ............ Desktops ................*/
/* @media (min-width: 1025px) {


} */

/*............ Large Desktops ................*/
/* @media (min-width: 2550px) {
  main{
    
  }
  

}
 */
