header {
  position: static;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  height: 3.5rem;
  margin-top: 0rem;
  box-shadow: 0 1px 3px hsla(193, 53%, 35%, 0.12);
}

#logoHeader {
  height: 2.5rem;
  margin-right: 1.5rem;
}

.nav-links {
  display: none;
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row;
  margin-right: 3rem
}

.nav-link {
  display: block;
  padding-block: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;
  font-family: 'Nunito',Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}



.nav-linksMob ul{ 
  padding-inline: 0.5rem

}

.nav-link-mob {
  width: 100%;
  text-align: center;
  margin-inline: 0.1rem;
  border-radius: var(--round);
  font-family: 'Nunito',Verdana, Geneva, Tahoma, sans-serif;
  padding-block: 0.4rem;

}
.nav-links a {
    position: relative; 
  text-decoration: none;
  color: inherit;
}

.nav-links a::after{
  content:"";
  position: absolute;
  left: 0;
  bottom: 1px;  
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.25s ease;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav-links a[aria-current="page"]::after {
  width: 100%;
}


/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px) {
  header {
    padding-inline: 1.5rem;
    height: 3.5rem;
  }

  .nav-links {
    display: flex;
  }

  .nav-linksMob {
    display: none;
  }

}



/*............ Desktops ................*/
@media (min-width: 1025px) {
  header {
    padding-inline: 2rem;
    height: 4rem;
    align-items: center;
  }

  .nav-links {
    max-width: 70rem;
    font-size: 1.4rem;
    justify-self: center;

  }

  #logoHeader {
    height: 3rem;
  }


}



