header {
  position: static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  height: 3.5rem;
  margin-top: 0rem;
  /*dette er ikke et godt valg*/
  box-shadow: 0 1px 3px hsla(193, 53%, 35%, 0.12);
}

#logoHeader {
  height: 2.5rem;
  margin-right: 1.5rem;
}

.navLinks {
  display: none;
  justify-content: space-evenly;
  flex: 1;
  flex-direction: row;
  margin-right: 3rem
}

.navLink {
  display: block;
  padding-block: 0.4rem;
  padding-left: 1rem;
  padding-right: 3rem;
  font-family: 'Nunito',Verdana, Geneva, Tahoma, sans-serif;
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navLink:active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navLinksMob ul{ 
  padding-inline: 0.5rem

}

.navLinkMob {
  /* padding-block: 1px; */
  width: 100%;
  text-align: center;
  margin-inline: 0.1rem;
  border-radius: var(--round);
  font-family: 'Nunito',Verdana, Geneva, Tahoma, sans-serif;

}


/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 769px)
/*and (max-width: 1024px)*/
  {
  header {
    padding-inline: 1.5rem;
    height: 3.5rem;
  }

  .navLinks {
    display: flex;
  }

  .navLinksMob {
    display: none;
  }

}



/*............ Desktops ................*/
@media (min-width: 1025px) {
  header {
    padding-inline: 2rem;
    height: 4rem;
    align-items: center;
  }

  .navLinks {
    max-width: 70rem;
    font-size: 1.4rem;
    justify-self: center;

  }

  #logoHeader {
    height: 3rem;
  }


}



