.heroImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 55% 50%;
  display: block;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnDivHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;

}

.homeMain h2 {
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 1rem;
}


.boxMain {
  padding-bottom: 1.5rem
}

.grid-img-div {
  border-radius: var(--radius-box);
  display: block;
  width: 100%;
  height: 400px
}

.grid-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-block: 0;
  border-radius: var(--radius-box);
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .homeMain h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .heroImg {
    height: 650px;
    object-position: 55% 50%;
  }

  .btnDivHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;

  }

  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    display: grid;
    max-width: 100%;
  }

  .gridContainer p {
    padding: clamp(1.5rem, 10%, 3rem);
    border-radius: var(--radius-box);
    margin-block: 0px;
  }

  .box-1 {
    background-color: var(--blue);
    min-width: 200px;
  }

  .box-2 {
    grid-column: span 2 / span 2;
  }

  .box-3 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
  }

  .box-4 {
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: var(--purple);
    min-width: 200px;
  }

  .box-5 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    background-color: var(--green);
    min-width: 200px;
  }

  .box-6 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

}

/* ............ Desktops ................*/
@media (min-width: 1025px) {

  .btnDivHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    margin-top: 2rem;
  }

  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    gap: 1rem;
    max-width: 70rem;
    margin-inline: auto;
  }
}