.homeMain{
  padding-inline: var(--gap3);
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.heroImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 55% 50%;
  display: block;

}
.intro{
display:flex;
flex-direction: column;
align-items: center;
}
  
.btnDivHome{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 65%; */
  gap:1rem;
  margin-top: 2rem;

}

.gridContainer p {
  /* background-color: transparent; */
}

.homeImg{
  width: 100%;
  height: 60vw;
  object-fit: cover;
  object-position: 55% 50%;
  display: block;
  border-radius: var(--radius-box);
  margin-block: var(--gap2);
  
}

/* .homeImg3{ 
 height: 200px;

} */







/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
  .homeMain{
    padding-inline: 7rem;
    width: 900px;
    margin-inline: auto ;
  }
  
  .heroImg{
    height: 650px;
    object-position: 55% 50%;
  }

  .btnDivHome{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 65%; */
    gap:1rem;
    margin-top: 2rem;

  }

 .homeImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 55% 50%;
  display: block;
  border-radius: var(--radius-box);
  margin-block: var(--gap2);
  
 }

 .homeImg2{
    object-position: top;
 }


.gridContainer{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 350px 350px 350px;
  gap: 1rem;
  grid-template-areas: 
  "box-1 box-2 box-2"
  "box-3 box-3 box-4"
  "box-5 box-5 box-6";
  align-items:center;
  
}

.gridContainer p {
  padding: 3rem;
  /* height: 350px;
  width: 350px */
}



}

/* ............ Desktops ................*/
@media (min-width: 1025px) {
  .btnDivHome{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 65%; */
    gap:5rem;
    margin-top: 2rem;

  }
}