@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/nunito/Nunito-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --blue: #6CDCED;
  --purple: #D0AAFF;
  --green: #BAEE6D;
  --fontColor: #1C1D25;

  --round: 50px;
  --radius-box: 30px;
  
}