.visit-hero-image {
width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.visit-us-text {
  display:flex;
  flex-direction: column;
  justify-items: center;
  justify-self: center;
  max-width: 45ch;
}
.margin-space {
  margin: 1rem;
}
.box-padding {
  padding:2rem;
}
.iframe-border-radius {
  border-radius: var(--radius-box);
}
.grid-container-visit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3rem;

}
.box {
  border-radius: var(--radius-box);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.div1 {
  background-color: var(--blue);
}
.div1 iframe {
  display: block;
  margin: 0 auto;
}
.div2 {
  background-color: var(--green);
}
.div3 {
  background-color: var(--blue);;
}
.div4 {
  background-color: var(--purple);
}
.div5 {
  background-color: var(--blue);
}
.div6 {
  background-color: var(--green);
}
dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  color: var(--fontColor);
  font-family: var(--header-font);
}
.desktop-map { 
  display: none;
}
/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px)  {
  .visit-hero-image{
    height: 800px;
  }
  .visit-us-text {
    max-width: 100ch;
  }
.grid-container-visit {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    gap: 8px;
}
    .grid-container {
      display: flex;
      justify-content: center;
    }
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}
.mobile-map {
  display:none;
}
.desktop-map {
  display:block;
}

.div2 {
    grid-column-start: 3;
}

.div3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div6 {
    grid-column-start: 2;
    grid-row-start: 3;
}
        
}
/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 1025px) {
  .visit-hero-image{ 
    height: 1000px;
}
}